main,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header {
    margin-top: -160px;
    margin-bottom: 20px;
    height: 400px;
    width: 100%;
    background-image: url('https://sbebe21.github.io/welsh/header.png');
    background-size: cover;
    background-position: center;
}

.box {
    width: 800px;
    height: 100%;
    border: 0px solid black;
    padding: 10px;
    margin: 10px;
    margin-top: -140px;
    align-content: center;
}
.box2 {
    width: 800px;
    height: 100%;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size; 30px;
}
body {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}
